In [2]:
# import packages
import pandas as pd

## Family Class

In [3]:
'''
FAMILY CLASS

family composition = no of adults, children, ages
dad_age == 0 means single parent family

'''

class Family():
    
    def __init__(self, mum_age, dad_age, num_of_children):
        
        self.mum_age = mum_age
        self.dad_age = dad_age
       
        self.num_of_adults = 1
        
        if self.dad_age >0:
            self.num_of_adults = 2
        
        #self.child_a_dob = child_a_dob
        self.num_of_children = num_of_children
        
    def __str__(self):
        
        return('Adults:' + str(self.num_of_adults) + 
               'Children:' + str(self.num_of_children))
        
        
    def adults_under_25(self):
        return self.mum_age < 25 and self.dad_age < 25

## Employment Class

In [4]:
'''
EMPLOYMENT CLASS
(to hold employment related methods - never instantiated)

CALCULATE INDIVIDUAL INCOME LEVEL
    a. tax thresholds and rates
         <= £1048pm = 0%
         £1048 to £3142pm = 20%
         > £3142 = 40% 
    b. NI 
         > £1048 paid at 8%

CALCULATE HOUSEHOLD INCOME LEVEL    
Input: 
    a. mum net income (use pt wage up to 30hpw, ft wage 30+hpw)
    b. dad net income
    
'''

class Employment():
    
    weeks_per_month = 365.25 / (12 * 7)
    
    def __init__(self, mum_hpw, mum_wage_pt, mum_wage_ft, dad_hpw, dad_wage):
        
        self.mum_hours = mum_hpw
        self.mum_wage_pt = mum_wage_pt
        self.mum_wage_ft = mum_wage_ft
        self.dad_hours = dad_hpw
        self.dad_wage = dad_wage

    
    # calculate net monthly income per person from hours worked per week and wage per hour
    def calculate_income(hpw, wage):
        
        # hours per week * weeks per month * wage per hour
        gross_monthly_income = (hpw * Employment.weeks_per_month) * wage
        
        # calculate tax and NI deductions
        ni = 0
        tax = 0
        
        if gross_monthly_income > 1048:
            ni = (gross_monthly_income-1048) * 0.08
            if gross_monthly_income <= 3142:
                tax = (gross_monthly_income-1048) * 0.2
            else:
                higher_rate = (gross_monthly_income-3142) * 0.4
                lower_rate = (gross_monthly_income-(gross_monthly_income-3142)-1048) * 0.2
                tax = higher_rate + lower_rate

        # return monthly income after tax and NI deductions (rounded to 2 dec)
        net_monthly_income = round(gross_monthly_income - (ni + tax), 2)
        
        return net_monthly_income

    
    # calculate monthly income for all adults in household
    def get_household_income(mum_hours, mum_wage_pt, mum_wage_ft, dad_hours, dad_wage):

        # under 30 hrs per week use pt wage, 30 hours + use ft wage
        mum_wage = mum_wage_pt
        if mum_hours >= 30:
            mum_wage = mum_wage_ft
        
        mum_income = Employment.calculate_income(mum_hours, mum_wage)
        dad_income = Employment.calculate_income(dad_hours, dad_wage)
        
        return mum_income + dad_income

## Region Class

In [5]:
'''
REGION CLASS

WAGES
median full-time wage for males (employment typically unaffected by parenthood)
25th percentile full-time and part-time wage for females

CHILDCARE COST CALCULATION:
cost per hour of wraparound childcare - wa_cph
cost per hour of holiday childcare - h_cph

baseline calculated on working a 35 hours week and then adjusted pro rata for part-time working. Per year:
- 28 days annual leave = £0
- 190 days wraparound, 3.5 hours per day at wa_cph
- 43 days holiday, 9 hours per day at h_cph

total cost / 1052 hours per year

= cost per hour

'''

class Region():

    def __init__(self, wa_cph, h_cph, male_wage_ft, female_wage_ft, female_wage_pt):
      
        self.male_wage_ft = male_wage_ft
        self.female_wage_ft = female_wage_ft
        self.female_wage_pt = female_wage_pt
        
        # storing wa and h childcare rates incase used in future for alternative working patterns
        self.wa_cph = wa_cph
        self.h_cph = h_cph
    
        wa_year_cost = wa_cph * 3.5 * 190
        h_year_cost = h_cph * 9 * 43
    
        self.childcare_cph = (wa_year_cost + h_year_cost) / 1052

    def __str__(self): 
        return('male_wage_ft: ' + str(self.male_wage_ft) + 
               ' female_wage_ft: ' + str(self.female_wage_ft) + 
               ' female_wage_pt: ' + str(self.female_wage_pt) + 
               ' childcare_cph: ' + str(self.childcare_cph))

### Set up regions

In [6]:
# create region objects and store in dictionary with region name key
region_object_dict = {'north_east' : Region(5.09, 3.38, 17.76, 13.23, 11.78),
                      'north_west' : Region(4.15, 3.24, 18.93, 13.53, 11.89),
                      'yorkshire_humber' : Region(4.32, 3.54, 18.33, 13.17, 11.75),
                      'east_midlands' : Region(4.74, 3.63, 18.64, 13.05, 11.67),
                      'west_midlands' : Region(6.33, 3.46, 18.73, 13.45, 11.89),
                      'east_england' : Region(4.79, 3.16, 20.63, 14.17, 11.97),
                      'outer_london' : Region(5.47, 3.56, 22.87, 15.7, 12.13),
                      'inner_london' : Region(8.94, 3.93, 25.04, 17.00, 12.08),
                      'south_east' : Region(5.87, 3.68, 21.71, 14.29, 11.99),
                      'south_west' : Region(4.21, 3.43, 19.21, 13.66, 11.97)
                     }

In [7]:
# trying out other comparisons
england_deciles_dict = {'england_10th_percentile' : Region(5.03, 3.48, 12.63, 12.20, 11.44),
                      'england' : Region(5.03, 3.48, 19.99, 13.95, 11.92)
                     }

In [8]:
# check this has worked
for key in region_object_dict:
    print(key,':',region_object_dict[key])

north_east : male_wage_ft: 17.76 female_wage_ft: 13.23 female_wage_pt: 11.78 childcare_cph: 4.460941064638783
north_west : male_wage_ft: 18.93 female_wage_ft: 13.53 female_wage_pt: 11.89 childcare_cph: 3.8152376425855516
yorkshire_humber : male_wage_ft: 18.33 female_wage_ft: 13.17 female_wage_pt: 11.75 childcare_cph: 4.033060836501901
east_midlands : male_wage_ft: 18.64 female_wage_ft: 13.05 female_wage_pt: 11.67 childcare_cph: 4.331663498098859
west_midlands : male_wage_ft: 18.73 female_wage_ft: 13.45 female_wage_pt: 11.89 childcare_cph: 5.274211026615969
east_england : male_wage_ft: 20.63 female_wage_ft: 14.17 female_wage_pt: 11.97 childcare_cph: 4.19037072243346
outer_london : male_wage_ft: 22.87 female_wage_ft: 15.7 female_wage_pt: 12.13 childcare_cph: 4.7673669201520905
inner_london : male_wage_ft: 25.04 female_wage_ft: 17.0 female_wage_pt: 12.08 childcare_cph: 7.0969676806083655
south_east : male_wage_ft: 21.71 female_wage_ft: 14.29 female_wage_pt: 11.99 childcare_cph: 5.064363117870723
south_west : male_wage_ft: 19.21 female_wage_ft: 13.66 female_wage_pt: 11.97 childcare_cph: 3.9230608365019015

In [9]:
# check how to access stored attributes
region_object_dict['west_midlands'].male_wage_ft

18.73

## Universal Credit Calculator

In [11]:
'''
UNIVERSAL CREDIT CALCULATOR (2024 rates)

1. calculate standard amount
    a. Single <25 - £311.68
    b. Single >=25 - £393.45
    c. Couple <25 - £489.23
    d. Couple >=25 - £617.60
    
    a. First child born < 6 April 2017 - £333.33
    b. First child born >= 6 April 2017 - £287.92
    c. Second child - £269.58
    
2. Minus income
    <=£673 per month = no deduction to UC
    For every £ >£673 = deduction of 55p (55%)
    
3. Up to benefit cap
    a. Outside Greater London - £1835 per month
    b. Inside Greater London - £2110.25 per month
    
    
Input:
    a. No. of adults
    b. Adults under 25
    c. Child 1 DOB
    d. Child 2 T/F
    e. Take home income per month
    f. Greater London T/F
    
'''

def calc_uc(family, income):

    
    # calculate standard amount for adults
    adults_under_25 = family.adults_under_25()
    
    
    if family.num_of_adults == 1:
        if adults_under_25:
            adult_payment = 311.68
        else:
            adult_payment = 393.45
            
    else:
        if adults_under_25:
            adult_payment = 489.23
        else:
            adult_payment = 617.60
    

    # calculate standard amount for children
    if family.num_of_children > 1:
        child_payment = 2 * 287.92
    else: child_payment = 287.92
    

    # calculate adjustment for income
    deduction = 0
    overpayment = income - 673 
    
    if overpayment > 0:
        deduction = overpayment * 0.55
        
 
    # subtotal before cap
    subtotal = round(adult_payment + child_payment - deduction, 2)
    if subtotal < 0:
        subtotal = 0
    
   
    # apply cap
    uc_payment = subtotal
   
    if subtotal > 1835:
        uc_payment = 1835
        

    return uc_payment

## Main function

In [13]:
'''
MAIN FUNCTION TO CALCULATE HOUSEHOLD MONTLYH INCOME AFTER CHILDCARE COSTS

1st loop = mum's working hours per week (15, 40, 5)
2nd loop = no. of children in household (1, 6)

Set dad's age to 0 for single parent family

Output list of 5 colomns of data (hpw), containing 5 rows (no. of children)

Childcare hours = (working hours / 2) assumes 1 hour travel between school and work x 2 (morning and afternoon)
i.e. 7 hour working day (9am-5pm, 1 hour lunch break) requires 3.5 hours childcare (8am-6pm)

FAMILY CONTRIBUTION TO CHILDCARE COSTS
If family eligible for UC (i.e. UC payment != 0) the UC covers 85% of childcare cost per month up to:
    a. £1014.63 for one child
    b. £1739.37 for 2+ children

'''

def get_monthly_household_income_data(mum_age, dad_age, mum_wage_pt, mum_wage_ft, dad_wage, childcare_cph):

    # if single parent family, dad attributes = 0
    if dad_age == 0:
        dad_hours = 0
    # if couple, dad works 38 hours per week (male median FT)
    else:
        dad_hours = 38

    # empty list to hold column data as lists
    list_of_column_data = []
    
    # loop to calculate income for increments of worked hours per week by mum
    for hours in range(0, 42, 7):
        income = Employment.get_household_income(hours, mum_wage_pt, mum_wage_ft, dad_hours, dad_wage)
        column = []

        # loop to generate family compositions based on number of children (between 1 and 5)
        for num_of_children in range(1,6):
            family = Family(mum_age, dad_age, num_of_children)

            
            # calculate UC payment based on family composition and income
            uc_payment = calc_uc(family, income)

            
            # calculate family requirement for childcare hours
            childcare_hours = 0
            
            if hours == 0:
                family_childcare_cost = 0
            else:
                childcare_hours = (hours / 2) * num_of_children * Employment.weeks_per_month

            
                # calculate total childcare cost
                total_childcare_cost = childcare_hours * childcare_cph
                uc_contribution = 0
    
                # if not eligible for UC, and household income under £100k, tax free childcare covers 20% of cost
                # up to £500 per child every 3 months
                if uc_payment == 0:
                    if income < 100000:
                        uc_contribution = total_childcare_cost * 0.2
                        tax_free_limit = (500/3) * num_of_children
                        if uc_contribution > tax_free_limit:
                            uc_contribution = tax_free_limit
                         
                # otherwise, UC covers 85% up to £1014.63 for one child or £1739.37 for 2+ children
                else: 
                    uc_contribution = total_childcare_cost * 0.85 
                    if num_of_children == 1 and uc_contribution > 1014.63:
                            uc_contribution = 1014.63
                        #family_childcare_cost = total_childcare_cost - uc_contribution
                    elif num_of_children > 1 and uc_contribution > 1739.37:
                            uc_contribution = 1739.37
                family_childcare_cost = total_childcare_cost - uc_contribution

            
            # income plus UC payment, less family contribution to childcare costs
            monthly_household_income_after_childcare = round((income + uc_payment) - family_childcare_cost, 2)

            # add values for different family compositions to column list
            column_data = monthly_household_income_after_childcare
            column.append(column_data)

        # add each column to parent list
        list_of_column_data.append(column)

    return list_of_column_data

## Test

In [14]:
test = get_monthly_household_income_data(22, 0, 11.44, 13.95, 0, 5.03)

In [15]:
print(test)

[[599.6, 887.52, 887.52, 887.52, 887.52], [936.32, 1212.75, 1201.27, 1189.79, 1178.31], [1260.16, 1525.12, 1502.15, 1479.19, 1456.22], [1405.38, 1658.85, 1624.41, 1589.96, 1555.51], [1507.14, 1749.13, 1703.2, 1657.27, 1611.34], [1515.81, 1962.74, 1905.33, 1847.92, 1790.51]]

#### Create dataframe from list data

In [16]:
df = pd.DataFrame(
        {'0 days' : test[0],
         '1 day' : test[1],
         '2 days' : test[2],
         '3 days' : test[3],
         '4 days' : test[4],
         '5 days' : test[5]
         }, index=pd.Index(['1 child', '2 children', '3 children', '4 children', '5 children'])
    )
df.style.format(precision=2).set_caption("Monthly household income after childcare costs based on days per week worked")

#### Calculate change in monthly income per 5 hour increase in weekly worked hours

In [17]:
df_change = pd.DataFrame()
df_change['Increase to 1 day'] = df['1 day'] - df['0 days']
df_change['Increase to 2 days'] = df['2 days'] - df['1 day']
df_change['Increase to 3 days'] = df['3 days'] - df['2 days']
df_change['Increase to 4 days'] = df['4 days'] - df['3 days']
df_change['Increase to 5 days'] = df['5 days'] - df['4 days']

In [18]:
df_change.style.format(precision=2)\
.set_caption("Change in monthly household income after childcare costs with each extra day per week worked")

## Generate regional dataframes

In [19]:
'''
set dad's age to 0 for single parent family
UC allocation is higher if both parents over 25
'''
mum_age = 25
dad_age = 0

In [20]:
# run the main calculation for all regions using age values above
regional_income_data_dict = {}

for key in region_object_dict:
    regional_income_data_dict[key] = get_monthly_household_income_data(mum_age, dad_age, 
                                                                       region_object_dict[key].female_wage_pt,
                                                                       region_object_dict[key].female_wage_ft,
                                                                       region_object_dict[key].male_wage_ft, 
                                                                       region_object_dict[key].childcare_cph
    )

In [21]:
regional_income_data_dict

{'north_east': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1029.74, 1307.47, 1297.29, 1287.11, 1276.92],
  [1353.85, 1621.41, 1601.04, 1580.67, 1560.31],
  [1501.53, 1758.9, 1728.35, 1697.8, 1667.25],
  [1607.52, 1854.7, 1813.97, 1773.23, 1732.5],
  [1785.0, 2022.01, 1971.09, 1920.17, 1869.25]],
 'north_west': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1034.56, 1313.77, 1305.06, 1296.35, 1287.64],
  [1359.81, 1630.31, 1612.89, 1595.47, 1578.06],
  [1509.21, 1771.0, 1744.87, 1718.75, 1692.62],
  [1617.75, 1870.83, 1836.0, 1801.16, 1766.32],
  [1807.17, 2051.55, 2008.0, 1964.45, 1920.9]],
 'yorkshire_humber': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1029.8, 1308.52, 1299.31, 1290.1, 1280.9],
  [1354.99, 1624.49, 1606.08, 1587.67, 1569.25],
  [1503.57, 1763.87, 1736.25, 1708.63, 1681.01],
  [1610.24, 1861.34, 1824.51, 1787.68, 1750.86],
  [1786.93, 2028.81, 1982.78, 1936.75, 1890.71]],
 'east_midlands': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1026.69, 1304.72, 1294.83, 1284.95, 1275.06],
  [1351.42, 1619.57, 1599.79, 1580.01, 1560.24],
  [1499.16, 1757.42, 1727.75, 1698.09, 1668.42],
  [1604.36, 1852.72, 1813.17, 1773.62, 1734.06],
  [1777.61, 2016.09, 1966.64, 1917.2, 1867.76]],
 'west_midlands': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1031.23, 1307.11, 1295.07, 1283.03, 1270.99],
  [1353.15, 1616.99, 1592.91, 1568.83, 1544.75],
  [1499.22, 1751.02, 1714.9, 1678.78, 1642.66],
  [1604.43, 1844.19, 1796.03, 1747.87, 1699.71],
  [1786.57, 2014.29, 1954.09, 1893.89, 1833.69]],
 'east_england': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1036.14, 1314.5, 1304.93, 1295.37, 1285.8],
  [1360.29, 1629.08, 1609.95, 1590.81, 1571.68],
  [1509.0, 1768.23, 1739.53, 1710.83, 1682.13],
  [1617.49, 1867.14, 1828.88, 1790.62, 1752.35],
  [1834.44, 2074.53, 2026.7, 1978.87, 1931.04]],
 'outer_london': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1039.7, 1316.73, 1305.85, 1294.97, 1284.08],
  [1362.03, 1628.19, 1606.42, 1584.66, 1562.89],
  [1509.79, 1765.06, 1732.41, 1699.76, 1667.11],
  [1618.53, 1862.92, 1819.38, 1775.85, 1732.32],
  [1723.56, 2136.81, 2082.39, 2027.98, 1973.56]],
 'inner_london': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1032.86, 1304.58, 1288.38, 1272.18, 1255.97],
  [1350.04, 1605.56, 1573.15, 1540.75, 1508.35],
  [1492.36, 1731.67, 1683.07, 1634.47, 1585.86],
  [1595.29, 1818.4, 1753.6, 1688.79, 1527.24],
  [1724.19, 2147.73, 2066.72, 1888.97, 1348.94]],
 'south_east': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1034.76, 1311.12, 1299.56, 1288.0, 1276.44],
  [1356.85, 1621.65, 1598.52, 1575.4, 1552.28],
  [1503.61, 1756.84, 1722.16, 1687.48, 1652.8],
  [1610.3, 1851.97, 1805.73, 1759.48, 1713.24],
  [1830.39, 2060.5, 2002.7, 1944.89, 1887.09]],
 'south_west': [[681.37, 969.29, 969.29, 969.29, 969.29],
  [1036.75, 1315.72, 1306.76, 1297.81, 1288.85],
  [1361.51, 1631.52, 1613.61, 1595.7, 1577.78],
  [1510.83, 1771.89, 1745.02, 1718.15, 1691.29],
  [1619.93, 1872.03, 1836.2, 1800.38, 1764.56],
  [1812.34, 2055.48, 2010.71, 1965.93, 1921.15]]}

In [22]:
# create dictionary holding data as dataframe from list
regional_income_tables_dict = {}

for region in regional_income_data_dict:
    regional_income_tables_dict[region] = pd.DataFrame(
                {'0 days' : regional_income_data_dict[region][0],
                 '1 day' : regional_income_data_dict[region][1],
                 '2 days' : regional_income_data_dict[region][2],
                 '3 days' : regional_income_data_dict[region][3],
                 '4 days' : regional_income_data_dict[region][4],
                 '5 days' : regional_income_data_dict[region][5]
                 }, index=pd.Index(['1 child', '2 children', '3 children', '4 children', '5 children'])
            )

In [23]:
# format dataframe display
for region in regional_income_tables_dict:
    display(regional_income_tables_dict[region] \
            .style.format(precision=2).set_caption("Monthly household income after childcare costs (" + region + ")"))

In [24]:
# calculate change in monthly income with each increase of 5 working hours
regional_change_in_income_tables_dict = {}

for region in regional_income_tables_dict:
    df = regional_income_tables_dict[region]
    
    df_change = pd.DataFrame()
       
    df_change['Increase to 1 day'] = df['1 day'] - df['0 days']
    df_change['Increase to 2 days'] = df['2 days'] - df['1 day']
    df_change['Increase to 3 days'] = df['3 days'] - df['2 days']
    df_change['Increase to 4 days'] = df['4 days'] - df['3 days']
    df_change['Increase to 5 days'] = df['5 days'] - df['4 days']
    
    regional_change_in_income_tables_dict[region] = df_change

In [25]:
# earnings equal to £10 per hour
yellow = round(10*5*4.34524, 2)

# earnings equal to £5 per hour
orange = round(5*5*4.34524, 2)

# earnings equal to £0 per hour
red = 0

print('yellow: ' + str(yellow) + ', orange: ' + str(orange) + ', red: ' + str(red))

yellow: 217.26, orange: 108.63, red: 0

In [26]:
# format dataframe display - Change in monthly household income after childcare costs with each extra day per week worked
for region in regional_change_in_income_tables_dict:
    display(regional_change_in_income_tables_dict[region] \
            .style.format(precision=2).map(lambda x: 'background-color: #fff5b3' if x<yellow else 'background-color: #d9ffb3') \
            .map(lambda x: 'background-color: #ffd9b3' if x<orange else None) \
            .map(lambda x: 'background-color: #ffb3b3' if x<red else None) \
            .set_caption("Region: " + region ))